body {
    position: relative;
}
header {
    background-color: #ffffff;
    border-color: #fde7e7;
}
nav {
    
}
h1 {
    background: #4aaaa5;
    font: #777777;
    border-color: #cccccc;

}
p {
    font: #777777;
    float: right;
    position: absolute;
}
