body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafafa;
  margin: 10px;
  height: auto;
  position: relative;
}
.row {
  background-color: #fafafa;
  margin: auto;
}

/*----Top Nav Bar Icons-------------*/
.nav {
  background-color: #fafafa;
}
.nav-link {
  color: #ff4a03;
}
.nav-link:hover {
  color: #bdbdbf;
}
/*---------------------------------*/


hr.solid{
  margin-top: 0px;
  margin-bottom: 20px;
}

div.row {
  height: 575px;
}

/*---Hero Image-------------------*/
img {
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

/*-------------------------------*/

/*---Greeting-------------------*/
div.col-md-6 {
  margin: auto;
  height: auto;
}
div.greeting {
  text-align: center;
  margin: auto;
}
/*------------------------------*/

/*---About Me-------------------*/
.card {
  background-color: #f2f2f2;
  margin: auto;
  float: none;
  margin-bottom: 10px;
}
h6 {
  text-align: left;
  font-weight: 100;
}
p {
  margin: 20px;
  padding: 10px;
}

/*---Technologies and Frameworks------*/
#html{
  color: orangered;
}
#css {
  color: blue;
}
#js {
  color: yellow;
}